{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-template-curly-in-string": "off",
        "@next/next/no-page-custom-font": "off",
        "@typescript-eslint/consistent-type-imports": "off",
        "@typescript-eslint/no-unnecessary-condition": "off",
        "prefer-arrow-callback": "error",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ]
    }
}